.main{
    height: 100%;
    width: 100%;

   
}

.homeContainer{
    
        background-image: url('/src/assets/bgimg.jpg');
        background-size: cover;
        background-position: center;
        height: 80vh;

}


