.mainCuisine{
    color: white;
    height: 170vh;
    text-align: center;
    padding: 20px;
    background: rgb(49, 47, 47);
    
}

.mainWrapperHead{
    margin-top: 20px;
    font-size: 34px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    
}


.logoMinu{
    align-items: center;
    padding-right: 40px;
  }

.description{
    margin-top: 20px;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}

.carousel-card {
    height: 560px;
    width: 480px;
    margin: 40px auto;
    background-color: rgb(49, 47, 47);
    border: none;
    
  }


  
  .carousel-image {
    width: 400px;
    height: 430px;
    margin-bottom: 20px;
    
  }
  
  .carousel-meta {
    color: white;
    text-align: center;
    padding: 5px;
    
  }

  .slick-dots {
    bottom: 80px; 
  }

  .carousel-meta .ant-card-meta-title {
    color: white; /* Change this value to your desired color */
  }
  
  .carousel-meta .ant-card-meta-description {
    color: whitesmoke; /* Change this value to your desired color */
  }